.row {
  width: 992px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

/* BLOCCO LEZIONI */
#lezioni .row>.left,
#lezioni .row>.right {
  width: 50%;
  float: left;
}

#lezioni .row img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#lezioni {
  text-align: center;
}

/* BLOCCO STEPS */
#steps .row>.left,
#steps .row>.central,
#steps .row>.right {
  float: left;
  width: 33%;
}

#steps {
  text-align: center;
}

/* BLOCCO PERCHE */
#why {
  text-align: center;
}

#why .row>.first,
#why .row>.second,
#why .row>.third {
  width: 100%;
  margin-top: 80px;
}

#why .row img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

/* COMMON */
.row::after {
  content: '';
  display: table;
  clear: both;
}

.container.grey {
  background-color: #f9f9f9;
}

img {
  height: 200px;
}

.clear {
  clear: both;
}


/* Parte responsive < 420px */

@media all and (max-width: 419px) {

  /* Tag generali */

  body {
    margin: 0;
  }

  h3{
    font-size: 1.7rem;
  }

  .row{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  /* Tag parte lezioni */

  #lezioni {
  background-color: #f9f9f9;
  }

  #lezioni .row {
    margin-top: 0;
  }

  #lezioni .row > .left, #lezioni .row > .right {
    width: 70%;
    margin-bottom: 20px;
  }

  /* Tag parte steps */

  #steps .row {
    border-top: 10px solid black;
    margin-top: 0;
  }

  #steps .row>.left,
  #steps .row>.central,
  #steps .row>.right {
    width: 80%;
    margin-bottom: 20px;
  }

  /* Tag parte why */

  #why {
  background-color: #428bca;
  }

  #why .row {
    margin-top: 0;
    border-top: 10px solid black;
  }

  #why .row>.first,
  #why .row>.second,
  #why .row>.third {
  width: 100%;
  margin-top: 0px;
  }

  #why .row div img {
    display: none;
  }

  #why .row .first {
    background-image: url(../img/icon/profile.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200px;
    height: 200px;
    margin-bottom: 150px;
  }

  hr {
    margin-top: 40px;
  }

  #why  h3 {
    margin: -10px 0 180px 0;
  }

  #why .row .second {
    background-image: url(../img/icon/secure.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 150px;
    height: 200px;
    margin-bottom: 150px;
  }

  #why .row .third {
    background-image: url(../img/icon/flex.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 150px;
    height: 200px;
    margin-bottom: 150px;
  }

}